.bg-green {
  background: palegreen;
}


.bg-gray {
  background: lightgray;
}

.hide_ {
  display: none;
}

.btn {
  margin: 5px 3px;
}

.main-content {
  padding: 10px;
}

/* only for testing */
.bordered {
  border: solid 2px red
}
